@import "https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Prompt:wght@400;500;600;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap";
*, :before, :after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%)translateY(-10%);
  }

  50% {
    transform: translateX(50%)translateY(10%);
  }

  100% {
    transform: translateX(-50%)translateY(-10%);
  }
}

:root {
  --color-bg1: #ebe5d7;
  --color-bg2: #e37664;
  --color1: 227, 160, 147;
  --color2: 235, 229, 215;
  --color3: 163, 175, 179;
  --color4: 226, 160, 117;
  --color5: 227, 118, 100;
  --color-interactive: 255, 128, 100;
  --circle-size: 80%;
  --blending: hard-light;
  --color: #5a5750;
}

::selection {
  color: #fff;
  background-color: #000;
}

.root {
  z-index: 5;
  position: relative;
}

body {
  color: #333;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  position: relative;
  overflow-x: hidden;
}

.mona {
  font-family: Mona-Sans, sans-serif;
  font-weight: 900;
}

.inter {
  font-family: Inter var, sans-serif;
}

.overlays {
  z-index: 1;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  border-left: 1.2px solid #bca99e;
  width: 8.33333%;
  height: 100vh;
  position: relative;
}

.gradient-bg {
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.gradient-bg > .gradients-container {
  filter: url("#goo") blur(40px);
  width: 100%;
  height: 100%;
}

.gradient-bg > svg {
  display: none;
}

.gradients-container > .g1 {
  background: radial-gradient(circle at center, rgba(var(--color1), .8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center;
  opacity: 1;
  animation: 30s infinite moveVertical;
  position: absolute;
}

.gradients-container > .g2 {
  background: radial-gradient(circle at center, rgba(var(--color2), .8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  opacity: 1;
  animation: 20s infinite reverse moveInCircle;
  position: absolute;
}

.gradients-container > .g3 {
  background: radial-gradient(circle at center, rgba(var(--color3), .8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  opacity: 1;
  animation: 40s linear infinite moveInCircle;
  position: absolute;
}

.gradients-container > .g4 {
  background: radial-gradient(circle at center, rgba(var(--color4), .8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  opacity: .7;
  animation: 40s infinite moveHorizontal;
  position: absolute;
}

.gradients-container > .g5 {
  background: radial-gradient(circle at center, rgba(var(--color5), .8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  opacity: 1;
  animation: 20s infinite moveInCircle;
  position: absolute;
}

.gradients-container > .interactive {
  background: radial-gradient(circle at center, rgba(var(--color-interactive), .8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  opacity: .7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
}

.main {
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: opacity .2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
}

.home-btn {
  all: unset;
  letter-spacing: 0;
  color: var(--color);
  font-family: Prompt, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  top: 12%;
  left: 9%;
}

.main-name {
  text-transform: uppercase;
  color: var(--color);
  pointer-events: none;
  opacity: .9;
  font-family: Bebas Neue, sans-serif;
  font-size: 6.5rem;
  line-height: 93px;
  position: absolute;
  top: 24%;
  left: 9%;
}

.main-name > span {
  display: block;
  position: relative;
}

.main-name > span > span {
  font-size: 4rem;
  position: absolute;
  top: -20px;
}

.inline {
  display: inline;
}

.main-se {
  text-transform: uppercase;
  color: var(--color);
  text-align: end;
  pointer-events: none;
  opacity: .9;
  font-family: Bebas Neue, sans-serif;
  font-size: 6.5rem;
  line-height: 93px;
  position: absolute;
  bottom: 10%;
  right: 8%;
}

.main-se > span {
  display: block;
  position: relative;
}

.main-se > span > span {
  font-size: 4rem;
  position: absolute;
  top: -20px;
  left: 0;
}

.about-me {
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100vh;
  transition: opacity .2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
}

.about-me > .about-me--desc {
  color: var(--color);
  text-align: start;
  pointer-events: none;
  letter-spacing: -2px;
  text-wrap: nowrap;
  word-spacing: 0;
  font-family: Space Grotesk, sans-serif;
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 1.5;
  position: absolute;
  bottom: 13%;
  left: 9%;
}

.about-me > .about-me--desc > span {
  display: block;
  position: relative;
}

.about-me--pers {
  color: var(--color);
  word-spacing: 0;
  text-align: right;
  letter-spacing: -2px;
  text-wrap: nowrap;
  font-family: Space Grotesk, sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.5;
  position: absolute;
  top: 24%;
  right: 8%;
}

.about-me--pers > span {
  display: block;
}

.work {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: relative;
}

.work-svg {
  z-index: 2;
  position: relative;
}

.projects {
  perspective: 400px;
  flex-direction: row;
  width: 100%;
  display: flex;
}

.project-link {
  border: 1px solid #000;
}

.project-link img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#root {
  z-index: 10;
  width: 100%;
  height: 100vh;
  transition: transform 1s ease-out;
  position: sticky;
  top: 0;
}

canvas {
  transform: rotate(-7deg);
}

.ws {
  width: 100%;
  height: 2500px;
}

.projects-heading {
  text-transform: uppercase;
  color: var(--color);
  z-index: 12;
  pointer-events: none;
  opacity: .9;
  font-family: Bebas Neue, sans-serif;
  font-size: 6.5rem;
  line-height: 93px;
  transition: opacity .3s ease-out;
  position: sticky;
  top: 0%;
  transform: translate(10%, 70%);
}

.main-menu--btn {
  background: var(--color);
  will-change: width;
  width: 20px;
  height: 2px;
  transition: all .3s ease-out;
  position: fixed;
  top: 70px;
  right: 100px;
}

.main-menu--btn:after {
  content: "";
  background: var(--color);
  width: 40px;
  height: 2px;
  position: fixed;
  top: 80px;
  right: 100px;
}

.menu-container {
  border-radius: 100px;
  width: 45px;
  height: 45px;
  position: fixed;
  top: 45px;
  right: 97px;
}

.menu-container:hover .main-menu--btn {
  width: 40px;
}

.menu-container:hover {
  cursor: pointer;
}

.cm-cont {
  z-index: 5;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  position: relative;
}

.cm-cont svg {
  fill: var(--color);
  cursor: pointer;
  width: 1.5rem;
  margin-right: .8rem;
  transition: transform .1s linear;
}

.ct-svgs a {
  display: inline-block;
}

.ct-svgs a:first-child {
  margin-left: 6rem;
}

.cm-cont svg:hover {
  transform: scale(.9);
}

.cm-cont > a:first-child {
  margin-left: 6rem;
}

.crt {
  color: var(--color);
  text-align: end;
  margin: 0 6rem 0 auto;
  font-family: Space Grotesk, sans-serif;
}

.crt-name {
  letter-spacing: -1.8px;
  word-spacing: 1.3px;
  font-size: 1.4rem;
  font-weight: 500;
}

.crt-quote {
  color: #ffffffa6;
  font-family: Space Grotesk, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.ct-cont {
  flex-direction: column;
  display: flex;
}

.ct-btn {
  all: unset;
  letter-spacing: 0;
  color: var(--color);
  margin-bottom: 5px;
  margin-left: 6rem;
  font-family: Space Grotesk, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: underline;
}

.rotate {
  animation: 1s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.proj-hov-name {
  z-index: 5;
  text-transform: uppercase;
  color: var(--color);
  text-align: end;
  pointer-events: none;
  opacity: .9;
  font-family: Bebas Neue, sans-serif;
  font-size: 6.5rem;
  line-height: 93px;
  position: absolute;
  bottom: 12px;
  right: 9%;
}

#ht-about-me {
  width: 100%;
  height: 30vh;
  margin-bottom: 10vh;
  position: relative;
  top: 0;
}

#ht-main {
  width: 100%;
  height: 20vh;
  margin-top: 50px;
  margin-bottom: 100vh;
  position: relative;
}

.container-circle {
  width: 100%;
  height: 100%;
  position: relative;
}

.circle-circle {
  animation: 20s linear infinite rotate;
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.d-arr {
  opacity: .8;
  color: var(--color);
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-30%, -50%)scale(1.5);
}

.rotating-text {
  color: var(--color);
  opacity: .8;
  font-family: Anton, sans-serif;
  font-weight: 900;
}

@media (width <= 768px) {
  body {
    width: 100vw !important;
    overflow-x: hidden !important;
  }

  .container-circle, .main, .about-me {
    width: 100vw !important;
  }

  .about-me--desc {
    font-size: 1.3rem !important;
    bottom: 30% !important;
    left: 3% !important;
  }

  .about-me--pers {
    font-size: 1.3rem;
    right: 3%;
  }

  .main-name {
    font-size: 4rem;
    line-height: 60px;
  }

  .main-name > span > span {
    font-size: 2rem;
    transform: translateY(10px);
  }

  .main-se {
    font-size: 4rem;
    line-height: 60px;
    bottom: 30%;
  }

  .main-se > span > span {
    font-size: 2rem;
    transform: translateY(10px);
  }

  .projects-heading {
    font-size: 5rem;
    display: inline-block;
  }

  canvas {
    transform: unset;
  }

  .proj-hov-name {
    font-size: 4rem;
    line-height: 50px;
    bottom: 148px;
  }

  .ct-btn, .ct-svgs a:first-child {
    margin-left: 0;
  }

  .crt {
    margin-right: 0;
  }

  .ws {
    height: 3500px;
  }
}

/*# sourceMappingURL=index.748ad148.css.map */
